/* Base elements */
* {
  box-sizing: border-box;
}

body {
  background-color: green;
  color: white;
/*   font-family */
}

h2 {
  color: orange;
}

/* Classnames below */

.heading {
/*   color: green; */
}
